.clock-container {
  background-image: url(images/clock.png);
  height: 40vw;
  width: 40vw;
  position: relative;
  background-size: 100%;
  background-position: center no-repeat;
  margin: auto;
}
#circle {
  width: 5%;
  height: 5%;
  border-radius: 100%;
  background-color: black;
  left: 48%;
  position: absolute;
  top: 47%;
}
#hour {
  height: 18%;
  width: 0.5%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 30%;
  transform-origin: bottom;
}
#minute {
    height: 22%;
    width: 0.5%;
    background-color: black;
    position: absolute;
    left: 50%;
    transform-origin: bottom;
    top: 28%;
  }
  #second {
    height: 25%;
    width: 0.5%;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 25%;
    transform-origin: bottom;
  }
    
